.App {
  font-size: x-small;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: rgb(200, 157, 101);
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.header {
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main {
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;

  flex-wrap: wrap;
}
.main_firstselection,
.main_lastselection {
  width: 40%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.main_firstselection input,
.main_lastselection input,
main-firstamount input,
main-lastamount input {
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  /* width: 90%; */
}

.main_currency select {
  border-radius: 25%;
  background-color: #168416;
  border: none;
  width: 100%;
  font-size: 9px;
  font-weight: normal;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  color: white;
  margin-right: 6px;
}
.main_currency select:hover {
  background-color: #177029;
  transform: scale(1.1);
}

.main_button button {
  background-color: #2253b5;
  margin: 2px;
  border-radius: 5px;
  color: white;
  font-size: 9px;
  font-weight: bold;
  padding: 3px;
  width: 90%;
  cursor: pointer;
}
.main_button button:hover {
  background-color: #1e47a1;
  transform: scale(1.1);
}

.footer {
  width: 100vw;
  margin-top: 20vh;

  background-color: #282c34;
  color: rgb(209, 198, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  justify-self: flex-end;
}

.footer p {
  margin: 0;
  font-size: larger;
  padding: 2px;
  text-align: center;
}
.footer a {
  color: rgb(209, 198, 198);
  text-decoration: none;
}

.main_result {
  width: 65%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.result-table {
  margin-top: 20px;
  width: 100vw;
  border-collapse: collapse;
  color: #fff;
}

.result-table th,
.result-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #555;
}

.result-table th {
  background-color: #222;
}
.result-table tr:nth-child(odd) {
  background-color: #444 !important;
}

.result-table tr:nth-child(even) {
  background-color: #555 !important;
}

.result-table tr:hover {
  background-color: #938c8c !important;
}

.result-table td:first-child {
  border-left: none;
}

.result-table td:last-child {
  border-right: none;
}
span {
  color: white;
  font-weight: normal;

  background-color: #2253b5;
  border: 1px solid #2253b5;
  border-radius: 20%;
}

.main-middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  margin-left: 2px;
  margin-right: 2px;
}
